﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Weather_forecast.Models.ApplicationUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Weather_forecast</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Weather_forecast.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://www.svgrepo.com/show/483341/home.svg" style="width: 30px; margin-top: -5px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="margin-bottom: -1px;" asp-area="" asp-controller="Home" asp-action="Statistics">
                                    Shared link statistics
                                    <img src="https://www.svgrepo.com/show/451571/emblem-shared.svg" style="width: 19px; margin-top:-2px;"/>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav" style="margin-right: auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="margin-bottom: -1px;" asp-area="" asp-controller="DdosMap" asp-action="Index">
                                    Digital Weather
                                    <img src="https://www.svgrepo.com/show/535491/map.svg" style="width: 21px; margin-top:-2px;" />
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <span>Hi, @User.Identity.Name |</span>
                        </ul>
                        <ul class="navbar-nav">
                            <a class="nav-link text-dark" style="margin-bottom: -3px;" asp-area="" asp-controller="Account" asp-action="AccountSettings">
                                Account settings
                                <img src="https://www.svgrepo.com/show/503147/account-settings.svg" style="width: 30px;" />
                            </a>
                        </ul>
                        <ul class="navbar-nav">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width: auto; padding-top: 0.8rem;">
                                    Logout
                                </button>
                            </form>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav" style="margin-left: auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Weather_forecast
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
