<a asp-area="" asp-controller="DdosMap" asp-action="CheckPointThreatMap">CheckPoint threat map</a><br />
<a asp-area="" asp-controller="DdosMap" asp-action="BitDefender">Bitdefender cyberthreat map</a>
