@{
	ViewData["Title"] = "Digital weather";
}
<div class="text-center">
	<a asp-area="" asp-controller="DdosMap" asp-action="CheckPointThreatMap" class="btn btn-outline-secondary btn-sm whitehover text-black">
		<span>CheckPoint threat map</span>
	</a>
	<a asp-area="" asp-controller="DdosMap" asp-action="Bitdefender" class="btn btn-outline-secondary btn-sm whitehover text-black">
		<span>Bitdefender cyberthreat map</span>
	</a>
</div>