@using Microsoft.AspNetCore.Identity
@inject SignInManager<Weather_forecast.Models.ApplicationUser> signInManager
@model WeatherforcecastAPIResponseModel

<div class="text-center">
    @if (signInManager.IsSignedIn(User))
    {
        <p>Resolved address: @Model.resolvedAddress</p>
    }
</div>