﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Weather_forecast.Models.ApplicationUser> signInManager
@{
    ViewData["Title"] = "Home Page";
}
@if (signInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to the weather forecast app</h1>
        <p>Search for a city to see its current weather:</p>
        <form asp-action="City" method="post">
            <input type="text" name="city" placeholder="Search for a city" />
            <input type="submit" value="Search" style="width:100px; height:30px;" />
        </form>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-6">Please make an account or login to see the forecast</h1>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </div>
}
