﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Weather_forecast.Models.ApplicationUser> signInManager
@model Weather_forecast.ViewModels.CityAndApi
@{
    ViewData["Title"] = "Home Page";
}
@if (signInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to the weather forecast app</h1>
        <p>Search for a city to see its current weather:</p>
@*         <form asp-action="City" method="post">
            <input type="text" name="city" placeholder="Search for a city" />
            <input type="submit" value="Search" style="width:100px; height:30px;" />
        </form> *@
        <form asp-action="City" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="City.CityName" />
            <button type="submit" style="width:100px; height:30px;">Search</button>
            <span asp-validation-for="City.CityName" class="text-danger"></span>
        </form>
        @if (Model != null)
        {
            @if (ViewBag.error == true)
            {
                <div style="margin-top: 0.5rem;">
                    Failed to fetch weather data for @Model.City.CityName
                </div>
            }
            @if (Model.Weather != null)
            {
                @if (Model.Weather.resolvedAddress != null || Model.Weather.resolvedAddress != "")
                {
                    <div style="margin-top: 0.5rem;">
                        @Model.Weather.resolvedAddress temperatuur on @Model.Weather.currentConditions.temp C
                    </div>
                }
                <button onclick="showGoogleMap()">Show google map</button>
                <button onclick="showLightingMap()">Show lighting map</button>
                <iframe id="googlemap" width="600" height="500" id="gmap_canvas" src=@Model.EmbedUrl frameborder="0" scrolling="no" marginheight="0" marginwidth="0" hidden></iframe>
                <iframe id="lightingmap" src=@Model.LightingEmbedUrl width="100%" height="790px" frameBorder="0" style="border: 0;" hidden></iframe>
            }
        }
    </div>
    <script type="text/javascript">
        function showGoogleMap(){
            document.getElementById("lightingmap").hidden = true
            document.getElementById("googlemap").hidden = false
        }
        function showLightingMap(){
            document.getElementById("googlemap").hidden = true
            document.getElementById("lightingmap").hidden = false
        }
    </script>
}
else
{
    <div class="text-center">
        <h1 class="display-6">Please make an account or login to see the forecast</h1>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </div>
}
@*<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=59.4372+24.7453&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>*@
