@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the weather forecast app</h1>
    <p>Search for a city to see its current weather:</p>
    <form>
        <input type="text" name="searchCity" placeholder="Search for a city"/>
        <input type="submit" value="Search" style="width:100px; height:30px;"/>
    </form>
</div>
