@model Weather_forecast.ViewModels.LinkShares
<div class="text-center">
    <h1 class="display-4">Welcome to the weather forecast app</h1>
    @foreach(CityShare share in Model.Shares)
    {
        <div>
            <p>@share.City has been viewed @share.ViewCount times!, <a href="https://localhost:7089/Home/Shared?city=@share.City&shareToken=@share.ShareToken&uid=@share.UserId">Click here to view the shared link!</a></p>
        </div>
    }
</div>