@model Weather_forecast.ViewModels.AccountSettings
<form asp-action="SettingsChanged" asp-controller="Account" method="post">
    <label for="typeCheckbox">Enable metric system on all searches</label>
    <input id="typeCheckbox" asp-for="GlobalMetric" type="checkbox" checked="@Model.GlobalMetric" onChange="this.form.submit()" />
</form>