@model Weather_forecast.ViewModels.Login

@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="col-md-6">
        <h1>Please Login to your account</h1>
        <hr />
        <form method="post">
            <div asp-validaton-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                Login
            </button>
        </form>
    </div>
</div>