﻿@{
	ViewBag.Title = "Registration successful";
}

<h1>You have successfully registered your account, please log in with it</h1>
<div class="text-center">
	<a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary" style="font-size:30px;">Login</a>
</div>