html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-grid {
    display: grid;
    grid-template-columns: 150px 1fr 187px;
    gap: 10px 15px;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
}

    .form-grid label {
        font-weight: bold;
    }

    .form-grid input {
        padding: 6px;
        width: 100%;
    }

    .form-grid button {
        display: flex;
        align-items: center;
        gap: 6px;
        height: 35px;
    }

    .form-grid .text-danger {
        grid-column: 1 / -1;
    }



.whitehover:hover img {
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(325deg) brightness(96%) contrast(96%);
}

.whitehover:hover span {
    color:white;
}